.card {
  border-radius: 2%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: rgb(239, 237, 234);
  width: 20vw;
  height: 35vh;
  display: flex;
  align-items: flex-end;
  flex-wrap: wrap;
  align-content: space-between;
  padding: 1em 1em 1em 1em;
}

.card h2{
  font-size: 30px;
  font-weight: 500;
}

.card p{
  font-size: 15px;
  font-weight: 300;
}

img {
  width: 10em;
  height: auto;
  margin-left: 10em;
}
