<div class="first-page">
  <head>
    <div class="first-title">
      <img class="logo" src="../../assets/logo-image.png" />
      <p>Кузовой ремонт атомобилей с 2016 года</p>
    </div>
    <div class="second-title">
      <mat-icon>location_on</mat-icon>
      <p>Москва Кутузова</p>
    </div>
    <div class="third-title">
      <h2>+7 (777) 777-77-77</h2>
      <p>работаем с 9:00 до 19:00 без выходных!</p>
    </div>
    <div class="fourth-title">
      <button mat-stroked-button>ПЕРЕЗВОНИТЕ МНЕ</button>
    </div>
  </head>

  <body>
    <h1>Кузовой ремонт и покраска авто "под ключ" с гарантией от 1 года</h1>
    <img src="../../assets/car.png" />
    <p id="firstParagraph">
      Благодаря опытным мастерам со стажем от 17 лет и Оборудованию
      премиум-класса
    </p>
    <div>
      <mat-icon>search</mat-icon>
      <p id="secondParagraph">
        Запишитесь на диагностику вашего автомобиля и наш менеджер свяжется с
        вами в течение 10 минут
      </p>
    </div>
    <button mat-stroked-button>ЗАПИСАТЬСЯ</button>

    <div class="pse-footer1">
      <div><p>Мы работаем со следующими марками автомобилей:</p></div>
      <div class="logos">
        <img src="../../assets/car-logos/image1.png" />
        <img src="../../assets/car-logos/image2.png" />
        <img src="../../assets/car-logos/image3.png" />
        <img src="../../assets/car-logos/image4.png" />
        <img src="../../assets/car-logos/image5.png" />
        <img src="../../assets/car-logos/image6.png" />
      </div>
    </div>
  </body>
</div>
<div class="second-page">
  <head>
    <h1>Почему стоит приехать к нам</h1>
  </head>
  <body>
    <span *ngFor="let cardContent of cardsContent">
      <app-card
        [title]="cardContent.title"
        [content]="cardContent.content"
        [imgPath]="cardContent.imgPath"
      ></app-card>
    </span>
  </body>
</div>

<footer></footer>
